---
import type { CollectionEntry } from 'astro:content';
import Post from './Post.astro';

interface Props {
  title?: string;
  posts: CollectionEntry<'posts'>[];
}
const { title, posts } = Astro.props;
---

<div class="content">
  <div class="content__inner">
    <div class="page">
      <slot name="intro" />
      {title && <h1 class="page__title">{title}</h1>}
      <div class="page__body">
        {posts.map((p) => <Post post={p} />)}
      </div>
    </div>
  </div>
</div>
{/* .page/.page__title 스타일은 전역(styles/pages/_page.scss) */}
